body {
    margin: 0;
    font-family: sans-serif;
    place-content: center;
}

.grid-container {
    margin-inline: auto;
    width: 90vw;
    height: 50vh;
    display: grid;
    grid-template-areas: "header header" "content sidebar" "footer footer";
    grid-template-rows: 75px 1fr 160px;
    grid-template-columns: 1fr 200px;
    grid-gap: 0.5rem;
}

.item {
    place-content: center;
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem;
    padding-inline: 50%;
    background-color: #00f;
    border-radius: 5px;
}

.item1 {
    grid-row-start: header-start;
    grid-row-end: content-start;
    grid-column-start: footer-start;
    grid-column-end: sidebar-end;
    place-content: center;
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem;
    padding-inline: 50%;
    background-color: #00f;
    border-radius: 5px;
}