body{
    margin: 0;
    color: #fff;
    font-size: 1.2rem;
    font-family: sans-serif;
    place-content: center;
    display: grid;
}

.grid-container{
    .item{
        margin: 0.25rem;
        padding: 1rem;
        padding-inline: 25vw;
        background-color: #0000ff;
        border-radius: 5px;
    }
}